; hubot systemd init for raspbian stretch

[Unit]
Description=Iris Hubot
;Wants=snap.rocketchat-server.rocketchat-server.service
After=network.target snap.rocketchat-server.rocketchat-server.service

[Service]
; TimeoutStartSec=180

Type=simple
;Type=idle

StandardOutput=syslog
SyslogIdentifier=Hubot_Iris
WorkingDirectory=/opt/iris/

Environment ROCKETCHAT_URL=http://tinaja-chat:3000
Environment ROCKETCHAT_ROOM='GENERAL'
Environment RESPOND_TO_DM=true
Environment ROCKETCHAT_USER=Iris
Environment ROCKETCHAT_PASSWORD=tinaja#123
Environment ROCKETCHAT_AUTH=password

; ExecStartPre=/bin/sleep 90
ExecStart=/opt/iris/bin/hubot -a rocketchat
; ExecStart=/opt/iris/starthubot.sh

User=pi
Group=pi

; Restart=always
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

